<head><script data-ad-client="ca-pub-6898134230888006" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script></head>
<footer class="footer">
    <div class="container text-center">
      <a class="cc-facebook btn btn-link" href="https://www.facebook.com/people/Edmund-Cheng/100009296597221" target="_blank">
        <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-instagram btn btn-link" href="https://www.instagram.com/edmundc36985/" target="_blank">
        <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-linkedin btn btn-link " href="https://www.linkedin.com/in/edmundcheng221/" target="_blank">
        <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
      </a>

      <a class="cc-github btn btn-link " href="https://github.com/edmundcheng221" target="_blank">
        <i class="fa fa-github fa-2x " aria-hidden="true"></i>
      </a>

    </div>
    <div class="text-center text-muted">
      <p>&copy; All rights reserved.
      </p>
    </div>
  </footer>
