<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2017 - 2021</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Science</div>
               <h4 class="category">New York University - Tandon School of Engineering
               </h4>
               <ul>

                    <li>B.S in Mechanical Engineering</li>
                  <li>Recipient of the Tandon Scholarship from 2017 - 2021</li>
                 <li>Member in the American Society of Mechanical Engineers, NYU Chapter</li>
                 <li>Member in the Society for the Advancement of Material Processing and Engineering</li>
                 <li>Member of the TRIO Scholars Program at NYU</li>
             </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2013 - 2017</p>
              <div class="h5">Sedcondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">The Brooklyn Latin School
               </h4>
               <ul>
                <li>International Baccalaureate Diploma Recipient
                </li>
                <li>Advanced Regents Diploma with mastery in Mathematics Recipient</li>
                <li>Teams and Clubs: Cross Country, Boys Wrestling, Boys Volleyball and Mathematics Club</li>


             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
